{% extends "home/logged.html" %}
{% load static %}
{% block col-lg-6 %}
    <div class="col-lg-6">
        <div class="container h-100">
        <h4>您还没有登陆，请先登陆</h4>
            {#h100是高度满的#}
            <div class="card fat">
                <div class="card-body">
                    <h1 class="card-title">注册</h1>
                    <h6 class="card-title">如果您有注册码，请输入注册</h6>
                    <form class="form" action="{% url 'home:register' %}" method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                            <script>
                                $(function () {
                                    $('#myModal').modal('show')
                                });
                            </script>
                            <!-- 模态框（Modal） -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">
                                                输入错误
                                            </h4>
                                        </div>
                                        <div class="modal-body">

                                            <p class="help text-small text-muted">{{ form.errors }}</p>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                    data-dismiss="modal">关闭并重新填写
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username1">用户名:</label>
                            <input type="text" class="form-control" name="username" value="{{ username }}"
                                   maxlength="150"
                                   autofocus
                                   id="username"/>

                            <label for="id_email">电子邮件地址:</label>
                            <input type="email" class="form-control" name="email" value="{{ email }}"
                                   maxlength="254"
                                   id="email"/>

                            <label for="password1">密码:</label>
                            <input type="password" class="form-control" name="password1"
                                   id="password1"/>

                            <label for="password2">确认密码:</label>
                            <input type="password" class="form-control" name="password2"
                                   id="password1"/>


                            <label for="invite_code_input">输入注册码:</label>
                            <input type="text" class="form-control" name="invite_code_input" maxlength="20"
                                   value="{{ invite_code_input }}"
                                   id="invite_code_input"/>

                            <input type="hidden" class="form-control" name="inviteCode"
                                   id="inviteCode" , value="1"/>

                            <p></p>
                            <button type="submit" class="btn btn-info register btn-block">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}